<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title></title>
  </head>
  <body>
    <div class="robot-info">
      <img src="{{avatar}}" alt="">
      <h1>{{name}}</h1>
      <p>{{#address.city}}{{address.city}},{{/address.city}} {{address.country}}  |
        {{#job}}{{job}}{{/job}} {{^job}}Available for hire {{/job}}</p>
      <p>{{email}}  |  {{phone}}</p>
    </div>
    <table>
      <tr>
        {{#university}}
        <th>Education</th>
        <td>{{university}}</td>
        {{/university}}
        {{#skills}}
        <th>Skills</th>
        <td>{{skills}}</td>
        {{/skills}}
      </tr>
    </table>
  </body>
</html>
